<div class="container mt-5">
  {{#if userVerified}}
  <h1 class="alert alert-success" role="alert">
    Welcome back, {{ userVerified }}!
  </h1>
  {{/if}}
  <form method="POST" action="/logout">
    <button type="submit" class="btn btn-danger mt-1" id="logout-btn">Log out</button>
  </form>
</div>